@import "../../styles/index.scss";

.button {
  @include flex(center, center);
  border-radius: 16px;
  padding: 28px 39px;
  border: none;

  span {
    @include fontSize("Roboto", 700, $white, 20px, 23px);
  }

  .icon {
    margin-left: 5px;
    @include size(20px, 20px);
    @include flex(center, center);
  }

  &:hover {
    cursor: pointer;
  }
}

.darkFilled {
  background-color: $dark-blue;

  span {
    color: $white;
  }
}

.darkFilled:hover {
  background-color: $yellow;

  span {
    color: $dark-blue;
  }
}

.lightFilled {
  background-color: $yellow;

  span {
    color: $dark-blue;
  }
}

.lightFilled:hover {
  border: 1px solid $dark-blue;
  background-color: $white;

  span {
    color: $dark-blue;
  }
}

.lightOutline {
  border: 1px solid $dark-blue;
  background-color: $white;

  span {
    color: $dark-blue;
  }
}

.lightOutline:hover {
  background-color: $yellow;

  span {
    color: $dark-blue;
  }
}
